$black: #000;
$pageBlue: #00a7e9;
$nunito: 'Nunito', sans-serif;
$border :  1px solid #00a7e9;
$biggestSize: 1300px;
$medSize: 980px;
$smSize: 728px;
$footerUlHeightFull: 335px;
$descriptionBackgroundNormal: rgba(0,0,0,.7);
$descriptionBackgroundDarker: rgba(0,0,0,.9);



//Media Query Settings

//max width of page column as well as drop to two columns.
$desktopMedium: "only screen and (max-width : 1365px)";

//max width of column, search bar collapse, products two columns smaller
$desktopSmall: "only screen and (max-width : 1023px)";

//navbar switch single column no margins. footer loses right column.
$tablet: "only screen and (max-width : 767px)";